.forecast_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.f_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.f_header h1 {
    font-family: var(--font-family);
    color: orange;
    text-shadow: black 0px 0px 10px;
}

.f_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
    background: #ffe6b4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    margin: 1rem;
    min-width: 160px;
}

.f_box.cold {
    background: #87CEFA;
}

.f_box.rain {
    background: #cacaca;
}

.f_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f_text p {
    font-family: var(--font-family);
}

