.p_bg {
    background-image: url('../../assets/bg.png');
    background-size: cover;
    height: 84vh;
}

.p_tutorial {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
}

.p_tutorial h1 {
    font-family: var(--font-family);
    color: orange;
    text-shadow: black 0px 0px 10px;
}

@media only screen and (max-width: 600px) {
    .p_bg {
      background-image: url('../../assets/mobilebg.png');
      background-size: cover;  
      height: 100vh;
    }
  
    .p_tutorial {
      padding: 1rem 0;
    }
  
    .p_tutorial h1 {
      font-size: 1.5rem;
    }
}