.p_bg {
    background-image: url('../../assets/bg.png');
    background-size: cover;
}

.p_tutorial {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
}

.p_tutorial h1 {
    font-family: var(--font-family);
    color: orange;
    text-shadow: black 0px 0px 10px;
}